$ kubectl top node 
NAME                                      CPU(cores)   CPU%   MEMORY(bytes)   MEMORY%   
ip-10-0-1-18.us-east-2.compute.internal   1420m        73%    2866Mi          40%       
ip-10-0-3-81.us-east-2.compute.internal   421m         21%    2070Mi          29%       

$ kubectl top pod --all-namespaces
NAMESPACE              NAME                                                            CPU(cores)   MEMORY(bytes)   
cert-manager           cert-manager-796cbd6574-2t4ck                                   1m           21Mi            
cert-manager           cert-manager-cainjector-6b6c9ff467-vfxzm                        2m           40Mi            
cert-manager           cert-manager-webhook-d969fd76f-vxwzz                            1m           8Mi             
clickhouse             altinity-clickhouse-operator-6c64dbbd87-lfl82                   1m           17Mi            
ingress-apisix         apisix-ingress-controller-75579d89db-rlzjq                      4m           89Mi            
kube-system            aws-node-hrd4s                                                  4m           60Mi            
kube-system            aws-node-msngk                                                  4m           60Mi            
kube-system            cluster-autoscaler-aws-cluster-autoscaler-69b4dcd58f-q5drj      2m           34Mi            
kube-system            coredns-656f8bb969-gl8j2                                        2m           16Mi            
kube-system            coredns-656f8bb969-lm69l                                        2m           15Mi            
kube-system            ebs-csi-controller-7f8c48d5b9-6gttw                             2m           47Mi            
kube-system            ebs-csi-controller-7f8c48d5b9-rv7zk                             2m           53Mi            
kube-system            ebs-csi-node-6s7b6                                              1m           19Mi            
kube-system            ebs-csi-node-czdzb                                              1m           19Mi            
kube-system            efs-csi-controller-7c77bfcd6b-bkwx9                             2m           42Mi            
kube-system            efs-csi-controller-7c77bfcd6b-fp5tz                             2m           40Mi            
kube-system            efs-csi-node-hzdbf                                              3m           41Mi            
kube-system            efs-csi-node-w64r7                                              3m           39Mi            
kube-system            kube-proxy-j4z7p                                                1m           14Mi            
kube-system            kube-proxy-vt95s                                                1m           15Mi            
kube-system            metrics-server-b7f8d757d-6tjgm                                  4m           19Mi            
kube-system            snapshot-controller-85bbdcdf64-4jnct                            1m           6Mi             
kube-system            snapshot-controller-85bbdcdf64-6rz7p                            1m           7Mi             
kubernetes-dashboard   kubernetes-dashboard-api-7ff949576d-4knct                       1m           8Mi             
kubernetes-dashboard   kubernetes-dashboard-auth-7b6cfb784d-vdcsk                      1m           7Mi             
kubernetes-dashboard   kubernetes-dashboard-kong-75bb76dd5f-tvgm9                      2m           74Mi            
kubernetes-dashboard   kubernetes-dashboard-metrics-scraper-7f6f977dc9-pp8sl           1m           7Mi             
kubernetes-dashboard   kubernetes-dashboard-web-7cccf8c454-x75gm                       0m           7Mi             
monitoring             grafana-6fbfd67f58-whkmm                                        3m           47Mi            
monitoring             grafana-operator-67db8569bd-pg6sb                               2m           28Mi            
monitoring             opentelemetry-operator-769898647b-2nqhr                         1m           31Mi            
monitoring             qryn-clickhouse-shard0-0                                        422m         459Mi           
monitoring             qryn-helm-877cc59c-cds4d                                        2m           113Mi           
monitoring             qryn-helm-877cc59c-dclxn                                        2m           104Mi           
monitoring             qryn-helm-877cc59c-lv4zk                                        952m         449Mi           
monitoring             qryn-helm-877cc59c-tnsbj                                        2m           114Mi           
monitoring             qryn-helm-877cc59c-trh4b                                        2m           115Mi           
monitoring             uptrace-0                                                       132m         125Mi           
monitoring             uptrace-clickhouse-shard0-0                                     640m         609Mi           
monitoring             uptrace-postgresql-0                                            6m           41Mi            
monitoring             vector-77h76                                                    6m           26Mi            
monitoring             vector-vznj2                                                    2m           29Mi            
monitoring             victoria-metrics-auth-574d6768dc-zhbgv                          1m           4Mi             
monitoring             victoria-metrics-k8s-stack-kube-state-metrics-889cfcf97-9rfrk   3m           14Mi            
monitoring             victoria-metrics-k8s-stack-prometheus-node-exporter-c85sm       1m           7Mi             
monitoring             victoria-metrics-k8s-stack-prometheus-node-exporter-cd9vk       1m           7Mi             
monitoring             victoria-metrics-operator-677fdb8948-bv9kx                      2m           21Mi            
monitoring             vmagent-victoria-metrics-k8s-stack-6d4655df46-67pv6             50m          125Mi           
monitoring             vmalert-victoria-metrics-k8s-stack-6b9496f4f-6dxd5              17m          21Mi            
monitoring             vmalertmanager-victoria-metrics-k8s-stack-0                     1m           23Mi            
monitoring             vmsingle-victoria-metrics-k8s-stack-59d857bcd4-4z8gl            54m          249Mi           
vpa                    vpa-admission-controller-7ffd6d94f9-l6l7x                       1m           11Mi            
vpa                    vpa-recommender-75bf5fbc55-g9fmw                                1m           14Mi            
vpa                    vpa-updater-64c774dbb6-mjk28                                    1m           16Mi
